doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title El Laberinto - ERROR
        link(rel="stylesheet" href="/css/styles.css")
    body
        main.main-errores
            img.errores-img(src="/media/errores.png", alt="Errores")
            .errores-tit= title
            .errores-msj= emsj
            a.errores-btn(href="/") Regresar